button,
input[type="submit"],
input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    outline: none;
    font-size: 1.2rem;
    max-width: 10rem;
    color: rgba(255, 255, 255, 0.37);
}

input {
    background: none;
    border: none;
}



/* nav-bar */
.navBar {
    width: 100%;
}

/* top element */
.topElement {
    width: inherit;
    min-height: 1.2rem;
    height: 2rem;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.topElement--link {
    display: block;
    font-size: 0.8rem;
    color: white;
    font-weight: 300;
    border-right: 1.5px solid rgba(255, 255, 255, 0.795);
    line-height: 0.8em;
    padding-inline: 0.5rem;
}
.mainElements--link_container{
    margin-left: 6rem;
    white-space: nowrap;
    overflow: hidden;
 
}
.topElement--link:hover{
    color: rgba(255, 255, 255, 0.466);
}
.last {
    margin-right: 2rem;
    border: none;
}


/* main element */

.mainElement {
    width: inherit;
    height: 3.5rem;
    padding-block: 0.5rem;
    background: #171717;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nikeLogo {
    width: 4rem;
    margin: 3rem;
}

.mainElement--link {
    color: white;
    font-size: 1rem;
    font-weight: 700;
    margin: 1rem;
    margin-bottom: 1rem;
}

.mainElement--link:hover{
    border-bottom: 0.15rem solid rgba(0, 0, 0, 0.851);
}

.mainElement--end {
    display: flex;
    align-items: center;
    margin-right: 2rem;
}

/* search-bar */
.searchBar {
    display: flex;
    align-items: center;
    border-radius: 2rem;
}

#searchButton {
    width: 2rem;
    height: 2rem;
   
    border-radius: 60%;
    margin: 0.2rem;
}

#searchButton:hover{
    background-color: rgba(255, 255, 255, 0.384);
}

#searchButton--img {
    width: 1.4rem;
}
.ham-big{
    visibility: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
    transform: translateX(10em);
    transition: transform 200ms ease-out;
}
.ham-show{
    transform: translateX(0em);
    transition: transform 200ms ease-in-out ;
}

.hamburger-menu{
    top:0;
    background-color:rgb(241, 241, 241);
    width: 20em;
    height: 100%;
    box-sizing: border-box;

}
.exit-ham{
    height: 100%;
    width: 40%;
    flex: 2;

}
.exit-cross{
    position: relative;
    background-image:url(../assets/cross.svg);
    background-size: cover;
    opacity: 0.8;
    width: 1.7em;
    height: 1.5em;
    margin: 1em;
    margin-left: 84%;
}
.exit-cross:hover{
    opacity: 0.5;
}
.blur{
    z-index: 1;
    visibility: hidden;
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: hsla(0,0%,7%,.36);
    backdrop-filter: blur(4px);

}
.hamburger-menu li a{
    color: black;
    font-size: 1.5rem;
    font-weight: 500;
}
.hamburger-menu li img{
    width: 1.2rem;
    margin: 1.5rem;
}
.hamburger-menu li{
    list-style-type: none;
    margin-left:1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hamburger-menu li:first-child{
    margin-top:6rem;
}
.ham-menu{
    display: none;
    width: 1.8rem;
    margin: 1rem;
}
#likedImg {
    width: 1.8rem;
    margin: 1rem;
}

.imgHover:hover,.ham-menu:hover{
   opacity: 0.5;
}
#cartImg {
    width: 1.8rem;
    margin: 0.5rem;
}
/* buttons hamburger menu */
.buttons{
    width: 17em;
    margin: 1rem;
    display: flex;
    justify-content: space-evenly;
}
.sign-up{
    background-color: #171717;
    border-radius: 10em;
    padding: 0.5rem;
    width: 7rem;
    color:rgb(241, 241, 241) ;
}
.sign-up:hover{
    background-color:#525252 ;
}
.log-in{
    border: rgb(179, 179, 179) solid 2px;
    border-radius: 10em;
    width: 5.5rem;
}
.log-in:hover{
    border-color: rgb(78, 78, 78);
}
@media only screen and (max-width: 960px) {
    .topElement, .mainElements--link_container,#likedImg{
      display: none;
    }

    .topElement {
        height: 2rem;
    }
    #nikeLogo {
        margin: 1.5rem;
    }
    .mainElement{
        height: 3rem;
    }
    .ham-menu{
        display: block;
    }

    input{
        max-width: 7rem;
    }
}
